@use '../../styles/variables';

body {
  background: variables.$lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  background: variables.$white;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.45;
}

.layout {
  margin: 0 auto; 
  max-width: variables.$bp-large;
  padding: 0 1rem;
}